[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
djangorestframework = "==3.10.3"
psycopg2 = "==2.8.3"

[requires]
python_version = "3.7"
